.button {
  padding: 10px 15px;
  border-radius: 3px;
  width: 100px;
  margin-right: 10px;
  color: brown;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(196, 164, 164);
  text-transform: uppercase;
}
.button:hover {
  background-color: brown;
  color: #fff;
  transition: 0.5s ease;
}
